<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>com.training.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UsersList</servlet-name>
		<display-name>UsersList</display-name>
		<description></description>
		<servlet-class>com.training.servlet.UsersList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DetailedUserView</servlet-name>
		<display-name>DetailedUserView</display-name>
		<description></description>
		<servlet-class>com.training.servlet.DetailedUserView</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>com.training.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteUser</servlet-name>
		<display-name>DeleteUser</display-name>
		<description></description>
		<servlet-class>com.training.servlet.DeleteUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditUser</servlet-name>
		<display-name>EditUser</display-name>
		<description></description>
		<servlet-class>com.training.servlet.EditUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddAddress</servlet-name>
		<display-name>AddAddress</display-name>
		<description></description>
		<servlet-class>com.training.servlet.AddAddress</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChangePassword</servlet-name>
		<display-name>ChangePassword</display-name>
		<description></description>
		<servlet-class>com.training.servlet.ChangePassword</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserRegistration</servlet-name>
		<display-name>UserRegistration</display-name>
		<description></description>
		<servlet-class>com.training.servlet.UserRegistration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UsersList</servlet-name>
		<url-pattern>/usersList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DetailedUserView</servlet-name>
		<url-pattern>/detailedView</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/deleteUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditUser</servlet-name>
		<url-pattern>/editUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddAddress</servlet-name>
		<url-pattern>/addAddress</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/changePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserRegistration</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
</web-app>
